canvas{
  cursor: url(mypen.png), auto;
  border: 1px solid #000;
}
body{
  cursor: auto;
  background-color:#ebebeb;
}
#buttons {
  left: 2px;
  top: 10px;
}
a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.b{
  margin-top: 10px;
  margin-left: 5px;
  width: 100px;
  height: 30px;
  float: left;
  cursor: pointer;
  font-size: 20px;
  background-color: #92A8D1;
  border: 3px solid #F7CAC9;
  line-height: 30px;
  text-align: center;
}
.color {
  margin-top: -3px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  float: left;
  cursor: pointer;
  border: 1px solid #000;
  line-height: 30px;
  text-align: center;
}
.bbutton {
  margin-left: 5px;
  width: 100px;
  height: 30px;
  float: left;
  cursor: pointer;
  border: 1px solid #000;
  line-height: 30px;
}
.xvalue input{
  background-color: transparent;
  border: 2px solid #92A8D1;
  font-size: 11px;
  text-align: center;
}
.xcolor input{
  cursor: ew-resize;
}
#red {
  background-color: red;
}
#blue {
  background-color: blue;
}
#green {
  background-color: green;
}
#purple {
  background-color: purple;
}
#yellow {
  background-color: yellow;
}
#orange {
  background-color: orange;
}
#pink {
  background-color: pink;
}
#black {
  background-color: black;
}
#white {
 background-color: white;
}
#ebebeb {
  background-color: #ebebeb;
  margin-right: 20px;
}
#Reset{
  cursor: pointer;
}
.brush{
  margin-left: 5px;
  width: 30px;
  height: 30px;
  float: left;
  cursor: pointer;
  border: 1px solid #000;
  text-align: center;
  line-height: 30px;
}
#pastelabel{
  margin-left : 5px; 
  width: 50px;
  height: 30px;
  display: inline-block;
  text-align: center;
  font-size: 15px;
  transition-duration: 0.1s;
  text-decoration: none;
  cursor: pointer;
  line-height: 30px;
  border: 1px solid black;
}
button{
  width: 50px;
  height: 30px;
  font-size: 15px;
  background-color: transparent;
}